@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

html {
    scroll-behavior: smooth;
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    border: 0;
    font-size: 100%;
    line-height: 1.3;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: #959fa2;
}

a:hover {
    color: #fff;
}

img {
    width: 100%;
}

li {
    list-style: none;
}

li svg {
    transform: translateY(15%);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

.sm-r-m {
    margin-right: 20px;
}

.pb-2 {
    padding-bottom: 2rem;
}
