.generic-content-container p {
    margin-bottom: 1.5rem;
}

.generic-content-container p:last-of-type {
    margin-bottom: 0;
}

.generic-content-container--text-centered  {
    text-align: center;
}

.generic-content-container--large {
    font-size: 1.2rem;
}