.slider-container button {
    right: 25px;
    opacity: 0;
}

.sliderimg {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

@media screen and (min-width: 450px) {
    .sliderimg {
        height: 600px;
    }
}

@media screen and (min-width: 1440px) {
    .sliderimg {
        height: 800px;
    }
}